.contact{
    text-align: center;
        .header{
            background-color: #D2B48C;
            color: #815b3e;
            font-size: 40px;
            font-weight: 600;
            padding: 5px;
        }
        .text{
            font-size: 20px;
            letter-spacing: 1px;
            padding: 10px;
        }
}   

.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    .logo{
        text-align: center;
        align-items: center;
        max-width: 400px; 
        margin: 0px 50px;
        padding: 20px 5px;
        .logo-image{
            height: auto;
            width: 50px;
        }
        &:hover{
            cursor: pointer;
            transform: scale(1.2);
            transition: transform 0.4s ease;
        }
    }
}


@media (max-width:420px){
    .contact{
            .header{
                font-size: 25px;
            }
            .text{
                font-size: 15px;
            }
    } 

    .social-media{
        .logo{
            margin: 0px 10px;
            padding: 20px 5px;
            .logo-image{
                width: 40px;
            }
        }
    }
}