

.footer{
  color: white;
  position: relative;
  background-color: #694e3a;
  #tree-img{
          opacity: 0.2;
          position: absolute;
          top: 0;
          left: 0;
          width: auto;
          height: 100%;
        }
    .socialMedia{
      width: 30px;
      margin: 0px 20px;
      border-radius: 100%;
      opacity: 0.5;
      // background-color: white;
      transition: transform .3s ;
      &:hover{
        opacity: 1;
        transform: scale(1.2);
      }
      @media screen and(max-width:400px){
        margin: 0px 10px;
      }
    }
    .site-logo{
      width: 120px;
      height: 120px;
    }
    .links{
      a{
        color: white;
        opacity: 0.5;
        text-decoration: none;
        &:hover{
          opacity: 1;
        }
      }
    }
    .copyright{
      a{
        font-size: 15px;
        opacity: 0.5;
        color: white;
        margin-right: 3px;
        text-decoration: none;
        &:hover{
          opacity: 1;
        }
      }
    }
  }