<div class="pt-5 pb-5 footer">

    <img src="../../../assets/images/datepalmtree.png" id="tree-img" alt="עץ תמר" />

    <div class="row no-gutters">

        <div class="col-12 d-flex justify-content-center">
            <a href={{facebookURL}} target="_blank"><img class="socialMedia"
                    src="../../../assets/images/social/facebook.png"></a>
            <a href={{instagramURL}} target="_blank"><img class="socialMedia" target="_blank"
                    src="../../../assets/images/social/instagram.png"></a>
            <a href={{this.gmail}} title="email"><img class="socialMedia" role="button"
                    src="../../../assets/images/social/gmail.png"></a>
            <a href={{whatsappURL}} target="_blank" title="whatapp"><img class="socialMedia"
                    src="../../../assets/images/social/whatsapp.png"></a>
        </div>

        <div class="col-12 d-flex justify-content-center mt-4">
            <img class="site-logo" src="../../../assets/images/logo/favicon.png" data-aos="zoom-in"
                data-aos-duration="2000">
        </div>

        <div class="col-12 d-flex justify-content-center mt-4 links">
            <div>
                <span class="m-3"><a routerLink="contact-us">יצירת קשר</a></span>
                <span style="opacity: 0.3;">|</span>
                <span class="m-3"><a routerLink="privacy-policy">תקנון אתר</a></span>
            </div>
        </div>

    </div>

    <div class="row no-gutters">

        <div class="col-12 d-flex justify-content-center mt-2 copyright">
            <p>
                <small class="text-white-50">© כל הזכויות שמורות ל-<a href={{googleSearchUrl}} target="_blank">קבוצת
                        התמר</a>
                </small>
            </p>

        </div>

    </div>

</div>