<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a role="button" class="navbar-brand" routerLink=""><img src="../../../assets/images//logo/לוגו רוחב.png"
            width="100" alt="לוגו התמר" /></a>
    <button class="navbar-toggler" id="nav-btn" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item" (click)="closeNav()" role="navigation">
                <a class="nav-link" role="button" routerLink="">עמוד הבית</a>
            </li>
            <li class="nav-item" (click)="closeNav()" role="navigation">
                <a class="nav-link" role="button" routerLink="/about-us">מי אנחנו?</a>
            </li>
            <li class="nav-item" (click)="closeNav()" role="navigation">
                <a class="nav-link" role="button" routerLink="/products">המוצרים שלנו</a>
            </li>
            <li class="nav-item" (click)="closeNav()" role="navigation">
                <a class="nav-link" role="button" routerLink="/contact-us">דברו איתנו</a>
            </li>

        </ul>

    </div>

</nav>