<div class="main-privacy-policy">
    <h2 class="my-4 d-flex justify-content-center">תקנון אתר-התמר</h2>
    <div>
        <div>
            <div>
                <h3><b>כללי</b></h3>
                <ul>
                    <li>אתר קבוצת התמר ("האתר") מופעל ע"י חברת <a href="https://jdevelopments.co.il">JDevelopments</a>
                        ("החברה"), בכתובת אינטרנט <a href="https://hatamargroup.com">hatamargroup.com</a> ומטרתו רכישת
                        תמרי מג'הול ישירות מהחקלאי לצרכן.</li>
                    <li>הגלישה באתר כפופה לתנאים המפורטים בתקנון ותנאי שימוש אלו ("התקנון"). אנא קרא את התקנון בקפידה,
                        שכן
                        הגלישה באתר וביצוע פעולות בו מעידים על הסכמתך לתנאים הכלולים בתקנון, והוא מהווה חוזה מחייב בינך
                        לבין
                        החברה.</li>
                    <li>האמור בתקנון זה בלשון זכר הוא לשם הנוחות בלבד והתקנון מתייחס לבני שני המינים באופן שווה.</li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <div>
            <div>
                <h3><b>רכישת מוצר באתר</b></h3>
                <ul>
                    <li>האתר מאפשר ללקוחות קנייה נוחה, קלה ובטוחה של המוצר באמצעות האינטרנט.</li>
                    <li>המחיר המופיע באתר בצמוד לכל מוצר הינו מחיר המוצר העדכני. האתר רשאי לעדכן מעת לעת את
                        מחירי
                        המוצרים המוצעים לרכישה באתר, ללא קשר למועד ביצוע רכישה באתר, וללא צורך בהודעה על כך.</li>
                    <li>הרכישה באתר הינה באמצעות כרטיס אשראי או בכל אמצעי תשלום אחר המופיע בעמוד התשלום.</li>
                    <li>האתר רשאי בכל עת לשנות את מגוון המוצרים המוצעים לרכישה באתר, להחליפם להמעיט מהם, להוסיף עליהם,
                        וכן
                        לשלול זכות רכישה באתר על פי שיקול דעתו וללא כל הודעה או התראה מוקדמת.</li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <div>
            <div>
                <h3><b>מדיניות החזרות וביטולים</b></h3>
                <ul>
                    <li>התנאים לביטול הזמנה יהיו בכפוף להוראות <a
                            href="https://www.nevo.co.il/law_html/law01/089_001.htm" target="_blank" rel="noopener">חוק
                            הגנת הצרכן, התשמ"א-1981</a>.</li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <div>
            <div>
                <h3><b>מדיניות אספקה והובלה</b></h3>
                <ul>
                    <li>האתר ידאג לאספקת הזמנה שבוצעה באתר או באמצעות הטלפון לכתובת הלקוח כפי שהוזנה על ידו בעת ביצוע
                        הרכישה
                        או לכל מקום אחר עליו יוסכם.</li>
                    <li>אספקת הזמנות תתאפשר בתחומי מדינת ישראל בלבד.</li>
                    <li>זמן הגעה מקסימלי של ההזמנה למזמין הינה 10 ימי עסקים.</li>
                </ul>
                <p>החברה לא תהא אחראית לכל איחור ו/או עיכוב באספקה ו/או אי-אספקה, שנגרמה כתוצאה מכוח עליון ו/או מאירועים
                    שאינם בשליטתה.</p>
            </div>
        </div>
    </div>
    <div>
        <div>
            <div>
                <h3><b>מדיניות פרטיות</b></h3>
                <ul>
                    <li>הסכמה לקבלת דברי פרסומת – במועד מסירת פרטי המשתמש, לרבות הרשמה לאתר ו/או מסירת כתובת מייל ו/או
                        בביצוע הזמנה המשתמש מסכים ומאשר למפעילת האתר ו/או לצדדים קשורים לשלוח אליו בכל אמצעי תקשורת ועל
                        פי
                        שיקול דעתה הודעות מכל סוג בקשר לפעילותו ו/או לפעילות האתר ו/או לפעילות אתרים אחרים מקבוצת מפעילת
                        האתר לרבות אתרים המופעלים ו/או מנוהלים על ידי מפעילת האתר ו/או צדדים קשורים, לרבות הצעות לרכישת
                        נכס
                        או שירות ו/או דיוור פרסומי מכל סוג שהוא ו/או הודעות מערכת ו/או הודעות שירות ו/או הודעות אחרות
                        ללקוחות. מידע אישי זה לא ייחשף ולא ייעשה בו שימוש נוסף למטרות שיווקיות ללא רשות.</li>
                    <li>בנוסף, ניתן יהיה להשתמש במידע אישי זה למטרות סקר שוק. באם תבקש להסיר בכל עת את פרטייך האישיים
                        מרשימת
                        התפוצה של החברה, אנא צרו קשר עם נציג החברה באמצעי תקשורת המופיעים בסוף תקנון זה.</li>
                    <li>החברה נוקטת באמצעי זהירות מקובלים על מנת לשמור, ככל האפשר, על סודיות המידע. במקרים שאינם בשליטת
                        החברה ו/או הנובעים מכוח עליון, לא תהא החברה אחראית לכל נזק מכל סוג שהוא, ישר או עקיף, שייגרם
                        ללקוח,
                        אם מידע זה יאבד ו/או יעשה בו שימוש לא מורשה.</li>
                    <li>החברה מתחייבת שלא לעשות שימוש במידע המסופק לה ע"י הקונים אלא על מנת לאפשר את הרכישה באתר מכירות
                        ובהתאם לכל דין.</li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <div>
            <div>
                <h3><b>דין וסמכות שיפוט</b></h3>
                <ul>
                    <li>פרשנותו ואכיפתו של תקנון זה ו/או כל פעולה או סכסוך הנובע ממנו יעשו בהתאם לדין הישראלי בלבד ולבית
                        המשפט המוסמך באחד מהמחוזות תל אביב-יפו, חיפה, ירושלים או ב"ש תהא מסורה סמכות השיפוט הבלעדית.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <div>
            <div>
                <h3><b>קניין רוחני</b></h3>
                <ul>
                    <li>כל זכויות הקניין הרוחני באתר מכירות זה הינן רכושו הבלעדי של האתר.</li>
                    <li>אין להעתיק, לשכפל, להפיץ, לפרסם או להשתמש בכל דרך אחרת במידע כלשהו מן האתר ו/או מאתר מכירות זה,
                        אלא
                        אם ניתנה הסכמה לכך מראש ובכתב מטעם החברה.</li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <div>
            <div>
                <h3><b>יצירת קשר</b></h3>
                <p>בכל שאלה ו/או בירור לגבי המוצר, וכן בכל פנייה אחרת בעניין פגיעה בזכות או תוכן פוגע, יש ליצור קשר באחת
                    הדרכים הבאות:</p>
                <ul>
                    <li class="my-2"><a href="mailto:yohay@hatamargroup.com">yohay@hatamargroup.com</a></li>
                    <li class="my-2"><a href="0509175030">050-917-5030</a></li>
                    <li class="my-2"><a [routerLink]="['/contact-us']" routerLinkActive="router-link-active">טופס יצירת
                            קשר
                            באתר</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>