<div class="row no-gutters about">

    <div class="col-md-12">
        <h1 id="header" class="m-0 shadow" aria-labelledby="who are we?">מי אנחנו ? </h1>
    </div>

    <!-- ABOUT TEXT -->
    <div class="col-md-7 about-text">
        <div id="text" role="text"><b>התמר</b> הוקם על ידי שני חברי ילדות, בנים למשפחות חקלאים מבקעת הירדן במטרה לשלב את
            הפעילות העסקית של
            המשקים. <br>
            הרעיון החל כאשר יוחאי ואופיר המקימים, זיהו את הפגיעה הכלכלית שגרמה מגפת הקורונה בכלל ובפרט, בייצוא התמרים
            לחוץ לארץ.<br>
            מתוך דאגה רבה לעתיד המשקים ורצון להקטין את חוסר הוודאות, הם החלו לחשוב על דרכים ופעולות למכור יחד את התמרים
            בארץ מהמשק החקלאי ישירות ללקוח!<br>
            מטרת התמר היא להיות בית לכל צרכן תמרים ולספק לו את המוצר הטוב, הטעים והעסיסי ביותר!<br>
            אנחנו, <b>בתמר</b>, מתחייבים לספק ללקוחותינו את התמרים המובחרים ביותר שעוברים תהליך מיון קפדני ונבחרים בבקרת
            איכות גבוהה מאוד. <br>
            אנחנו מאמינים בתודעת שירות גבוהה וקשר תמידי עם הלקוח.<br>
            נמצאים כאן לשירותכם תמיד ונשמח להיות אתכם בקשר!<br>
        </div>
        <div class="row no-gutters buttons p-2">
            <button type="button" role="button" aria-label="בחירת מוצרים" class="btn products-btn col-md-5"
                routerLink="/products">לבחירת מוצרים</button>
            <button type="button" role="button" aria-label="שלחו לנו הודעה" class="btn contact-btn col-md-5"
                routerLink="/contact-us">שלחו לנו הודעה</button>
        </div>
    </div>

    <div class="col-md-5 about_image">
        <img class="image" src='../../../assets/images/about-bg.jpg' />
    </div>

    <div class="col-12">
        <app-home-logos></app-home-logos>
    </div>
    <div class="col-12">
        <app-home-cards></app-home-cards>
    </div>
</div>