<div class="row no-gutters about">

    <!-- ABOUT TEXT -->
    <div class="col-12 about-text">
        <h1 id="header">מי אנחנו ? </h1>
        <div id="text"><b>התמר</b> הוקם על ידי שני חברי ילדות, בנים למשפחות חקלאים מבקעת הירדן במטרה לשלב את הפעילות
            העסקית של
            המשקים. <br>
            הרעיון החל כאשר יוחאי ואופיר המקימים, זיהו את הפגיעה הכלכלית שגרמה מגפת הקורונה בכלל ובפרט, בייצוא התמרים
            לחוץ לארץ.<br>
            מתוך דאגה רבה לעתיד המשקים ורצון להקטין את חוסר הוודאות, הם החלו לחשוב על דרכים ופעולות למכור יחד את התמרים
            בארץ מהמשק החקלאי ישירות ללקוח!<br>
            מטרת התמר היא להיות בית לכל צרכן תמרים ולספק לו את המוצר הטוב, הטעים והעסיסי ביותר!<br>
            אנחנו, <b>בתמר</b>, מתחייבים לספק ללקוחותינו את התמרים המובחרים ביותר שעוברים תהליך מיון קפדני ונבחרים בבקרת
            איכות גבוהה מאוד. <br>
            אנחנו מאמינים בתודעת שירות גבוהה וקשר תמידי עם הלקוח.<br>
            נמצאים כאן לשירותכם תמיד ונשמח להיות אתכם בקשר!<br>
            <button class="btn contact-btn" routerLink="/contact-us">שלחו לנו הודעה</button>
        </div>
    </div>
    <!-- <div class="col-xl-4 col-md-4 col-12" style="display: flex; justify-content:center;align-items: center;">
        <img src="../../../assets/images/logo/לוגו- ללא רקע.png" width="200">
    </div> -->



</div>