.about{
    text-align: center;
    position: relative;
    padding: 40px 70px;
    .about-text{
        justify-content: center;
        #header{
            font-size: 70px;
        }
        #text{
            padding: 00px;
            font-size: 18px;
            letter-spacing: 1px;
            line-height: 40px;
            font-weight: 600;       
        }
        .contact-btn{
            margin: 30px 0px;
            background-color: white;
            color: black;
            border-radius: 25px;
            width: 150px;
            &:hover{
              cursor: pointer;
              background-color: #af8454;
              color: white;
              border: 1px solid white;
            }
          }
    }
}

@media (max-width:500px){
    .about{
        padding: 40px 0px;
        .about-text{
            #header{
                font-size: 60px;
            }
            #text{
                padding: 5px;
                font-size: 15px;
                letter-spacing: 0px;
            }
            .contact-btn{
                background-color: #af8454;
                color: white;
              }
        }
    }
}


