<div class="main-container">

    <!-- UPPER TEXT -->
    <div class="row no-gutters upper">
        <div class="col-xl-12">
            <div class="header shadow">התמרים שלנו</div>
        </div>
    </div>

    <!-- CARDS -->
    <div class="row no-gutters pricing">
        <div class="card" *ngFor="let card of products">
            <img src="{{card.img}}" class="card-image" alt="תמר מג'הול" />
            <div class="card-header">
                <b>{{card.title}}</b>
            </div>
            <div class="card-body">
                <p>{{card.priceTxt}}<br>
                    <!-- <small>{{card.delivery}}</small> -->
                </p>

                <small><button type="button" class="btn order-btn my-2 col-12" routerLink="/order">ביצוע
                        הזמנה</button></small>
                <div *ngIf="card.id === 0">
                    <span class="info-btn col-12" data-toggle="modal" data-target="#exampleModal0"
                        (click)="passTitle(card.title)"><u>מידע
                            נוסף</u></span>
                </div>
                <div *ngIf="card.id === 1">
                    <span class="info-btn col-12" data-toggle="modal" data-target="#exampleModal1"
                        (click)="passTitle(card.title)"><u>מידע
                            נוסף</u></span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- BOTH PRODUCTS MODAL -->
<!-- COMPUTER - IPAD PRO -->
<!-- <div class="modal fade" id="both-products-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    *ngIf="width > 770">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-3 text-light" style="background-color: rgb(197, 112, 0); text-align: center;">
            <button class="btn both-close-btn" data-dismiss="modal" aria-label="Close">
                <fa-icon [icon]="close"></fa-icon>
            </button>
            <div class="my-3">
                <h3>לא בטוחים איזה תמר בא לכם יותר?</h3>
            </div>
            <hr style="background-color: white; width: 100px; display: flex; margin: auto;">
            <p class="my-3">רוצים לשלב את שני סוגי התמרים שלנו בהזמנה הבאה שלכם?<br>
                ניתן לבצע הזמנה משולבת באמצעות הזמנה טלפונית. <br>
                ביצוע הזמנה <b>בפחות מדקה!</b></p>
            <hr style="background-color: white; width: 100px; display: flex; margin: auto;">
            <div class="my-3" style="margin: auto;">
                <a href="tel:0509175030" class="ml-2"><button class="btn btn-success">
                        <fa-icon [icon]="call" class="ml-2"></fa-icon><span>חייגו אלינו</span>
                    </button></a>
                <a href={{this.whatsapp}} target="_blank" title="whatapp" class="mr-2"><button class="btn btn-success">
                        <fa-icon [icon]="call" class="ml-2"></fa-icon><span>הודעה לוואצאפ</span>
                    </button></a>
            </div>
        </div>
    </div>
</div> -->

<!-- IPAD - MOBILE -->
<!-- <div class="modal fade" id="both-products-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    *ngIf="770 > width">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-3 text-light" style="background-color: rgb(197, 112, 0); text-align: center;">
            <button class="btn both-close-btn" data-dismiss="modal" aria-label="Close">
                <fa-icon [icon]="close"></fa-icon>
            </button>
            <div class="my-3">
                <h3 style="font-size:35px;">לא בטוחים איזה תמר בא לכם יותר?</h3>
            </div>
            <hr style="background-color: white; width: 100px; display: flex; margin: auto;">
            <p class="my-3" style="font-size:20px;">רוצים לשלב את שני סוגי התמרים שלנו בהזמנה הבאה שלכם?<br>
                ניתן לבצע הזמנה משולבת באמצעות הזמנה טלפונית. <br>
                ביצוע הזמנה <b>בפחות מדקה!</b></p>
            <hr style="background-color: white; width: 100px; display: flex; margin: auto;">
            <div class="mt-3" style="margin: auto;">
                <a href="tel:0509175030"><button class="btn btn-success">
                        <fa-icon [icon]="call" class="ml-2"></fa-icon><span>חייגו אלינו</span>
                    </button></a>
            </div>
            <div class="my-3" style="margin: auto;">
                <a href={{this.whatsapp}} target="_blank" title="whatapp"><button class="btn btn-success">
                        <fa-icon [icon]="call" class="ml-2"></fa-icon><span>הודעה לוואצאפ</span>
                    </button></a>
            </div>

        </div>
    </div>
</div> -->


<!-- TWO MODAL THAT POPS SEPERATLY IF THERE IS A CLICK ON "מידע נוסף" -->
<!-- מג'הול עסיסי MODAL -->
<div class="modal fade" id="exampleModal0" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h5 class="modal-title" id="exampleModalLabel">מג'הול עסיסי גדול</h5> -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="row no-gutters" style="text-align: center;">
                <div class="col-md-7 p-3">
                    <h3>מג'הול עסיסי גדול</h3>
                    <p>התמר העסיסי נקטף לפני התמר היבש ודורש הרבה עבודה ובחירה מוקפדת על מנת לקטוף את התמר המתאים
                        ובדיוק לפני שהוא מתייבש, לאחר מיון קפדני ובקרה על איכות הפרי הוא נארז ועובר להקפאה לצורך שמירה
                        על הגודל, הדבש והעסיסיות שלו.</p>
                </div>
                <div class="col-md-5" *ngIf="width > 500">
                    <img src="../../../assets/images/עסיסי גדול.jpg" id="modal-img" alt="תמר מג'הול בונבון" />
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn modal-btn" data-dismiss="modal" routerLink="/order">להזמנה</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">סגור</button>
            </div>
        </div>
    </div>
</div>

<!-- מג'הול יבש פרמיום MODAL -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h5 class="modal-title" id="exampleModalLabel">מג'הול יבש פרמיום</h5> -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="row no-gutters" style="text-align: center;">
                <div class="col-md-7 p-3">
                    <h3>מג'הול יבש פרמיום</h3>
                    <p>התמר היבש בשונה מהתמר העסיסי מסיים את תהליך ההבשלה וההתייבשות שלו על העץ ומתייבש בצורה טבעית עד
                        שנקטף.
                        בגלל שהוא מסיים את תהליך ההבשלה והייבוש אינו דורש הקפאה ונשמר במקום יבש ומוצל.</p>
                </div>
                <div class="col-md-5" *ngIf="width > 500">
                    <img src="../../../assets/images/יבש פרמיום.jpg" id="modal-img" alt="תמר מג'הול יבש" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn modal-btn" data-dismiss="modal" routerLink="/order">להזמנה</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">סגור</button>
            </div>
        </div>
    </div>
</div>