<div class="main-container">

    <!-- UPPER TEXT -->
    <div class="row no-gutters upper">
        <div class="col-xl-12">
            <header class="header shadow">התמרים שלנו</header>
        </div>
    </div>

    <!-- CARDS -->
    <div class="row no-gutters pricing">
        <div class="card" *ngFor="let product of products" tabindex="0" data-aos="zoom-in" data-aos-duration="1500">
            <img src="{{product.img}}" class="card-image" alt={{product.title}} />
            <div class="card-header">
                <b>{{product.title}}</b>
            </div>
            <div class="card-body">
                <span class="my-1">{{product.priceTxt}} </span>


                <button role="button" aria-label="ביצוע הזמנה" tabindex="0" type="button"
                    class="btn order-btn my-1 col-12" routerLink="/order">ביצוע
                    הזמנה</button>

                <!-- <div class="row no-gutters my-2" *ngIf="product.id === 0">
                    <input class="col-5" type="number" style="text-align: center;direction: ltr;" min="0"
                        [(ngModel)]="juicy_qnt">
                    <button class="btn btn-outline-secondary col-7" role="button" aria-labelledby="הוסף קילוגרם אחד"
                        type="button" (click)="addToCart(product)">הוספה<i
                            class="fas fa-shopping-cart mr-2"></i></button>
                </div>
                <div class="row no-gutters my-2" *ngIf="product.id === 1">
                    <input class="col-5" type="number" style="text-align: center;direction: ltr;" min="0"
                        [(ngModel)]="dry_qnt">
                    <button class="btn btn-outline-secondary col-7" role="button" aria-labelledby="הוסף קילוגרם אחד"
                        type="button" (click)="addToCart(product)">הוספה<i
                            class="fas fa-shopping-cart mr-2"></i></button>
                </div> -->


                <div *ngIf="product.id === 0">
                    <span role="dialog" aria-label="מידע נוסף" tabindex="0" class="info-btn col-12" data-toggle="modal"
                        data-target="#exampleModal0" (click)="passTitle(product.title)"><u>מידע
                            נוסף</u>
                    </span>
                </div>
                <div *ngIf="product.id === 1">
                    <span role="dialog" aria-label="מידע נוסף" tabindex="0" class="info-btn col-12" data-toggle="modal"
                        data-target="#exampleModal1" (click)="passTitle(product.title)"><u>מידע
                            נוסף</u>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- TWO MODAL THAT POPS SEPERATLY IF THERE IS A CLICK ON "מידע נוסף" -->
<!-- מג'הול עסיסי MODAL -->
<div class="modal fade" id="exampleModal0" role="dialog" tabindex="-1" aria-labelledby="חלון מידע נוסף תמר מג'הול עסיסי"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="row no-gutters" style="text-align: center;">
                <div class="col-md-7 p-3">
                    <h3>מג'הול עסיסי גדול</h3>
                    <p role="text">התמר העסיסי נקטף לפני התמר היבש ודורש הרבה עבודה ובחירה מוקפדת על מנת לקטוף את התמר
                        המתאים
                        ובדיוק לפני שהוא מתייבש, לאחר מיון קפדני ובקרה על איכות הפרי הוא נארז ועובר להקפאה לצורך שמירה
                        על הגודל, הדבש והעסיסיות שלו.</p>
                </div>
                <div class="col-md-5" *ngIf="width > 500">
                    <img src="../../../assets/images/עסיסי גדול.jpg" id="modal-img" alt="תמר מג'הול בונבון" />
                </div>
            </div>

            <div class="modal-footer">
                <button role="button" aria-label="ביצוע הזמנה" type="button" class="btn modal-btn" data-dismiss="modal"
                    routerLink="/order">להזמנה</button>
                <button role="button" aria-label="סגור חלון" type="button" class="btn btn-secondary"
                    data-dismiss="modal">סגור</button>
            </div>
        </div>
    </div>
</div>

<!-- מג'הול יבש פרמיום MODAL -->
<div class="modal fade" id="exampleModal1" role="dialog" tabindex="-1" aria-labelledby="חלון מידע נוסף תמר מג'הול יבש"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="row no-gutters" style="text-align: center;">
                <div class="col-md-7 p-3">
                    <h3>מג'הול יבש פרמיום</h3>
                    <p role="text">התמר היבש בשונה מהתמר העסיסי מסיים את תהליך ההבשלה וההתייבשות שלו על העץ ומתייבש
                        בצורה טבעית עד
                        שנקטף.
                        בגלל שהוא מסיים את תהליך ההבשלה והייבוש אינו דורש הקפאה ונשמר במקום יבש ומוצל.</p>
                </div>
                <div class="col-md-5" *ngIf="width > 500">
                    <img src="../../../assets/images/יבש פרמיום.jpg" id="modal-img" alt="תמר מג'הול יבש" />
                </div>
            </div>
            <div class="modal-footer">
                <button role="button" aria-label="ביצוע הזמנה" type="button" class="btn modal-btn" data-dismiss="modal"
                    routerLink="/order">להזמנה</button>
                <button role="button" aria-label="סגור חלון" type="button" class="btn btn-secondary"
                    data-dismiss="modal">סגור</button>
            </div>
        </div>
    </div>
</div>

