<div class="row no-gutters" id="opener">

    <!-- <video autoplay muted loop class="videoBG">
        <source src="../../../assets/videos/date-tree.mp4" type="video/mp4" />
    </video> -->

    <div class="text">
        <p class="my-1"> אחד הדברים הטובים שקרו לנו בתקופה האחרונה היא האופציה לשווק כאן בארץ את
            הסחורה הטובה ביותר שלנו! <br>
            תמר מג'הול עסיסי מובחר ותמר מג'הול יבש פרמיום באיכות יצוא שלא ראיתם כמותה! <br>
        </p>
        <button type="button" class="btn upper-btn" routerLink="/products">מעבר לחנות</button>
    </div>

    <div class="arrow" (click)="scrollDown()" id="scroll-btn">
        <span></span>
        <span></span>
        <span></span>
    </div>

</div>