<div class="row no-gutters" id="opener">

    <!-- <video autoplay muted loop class="videoBG">
        <source src="../../../assets/videos/date-tree.mp4" type="video/mp4" />
    </video> -->

    <div class="text">
        <p class="my-1" role="text"> אחד הדברים הטובים שקרו לנו בתקופה האחרונה היא האופציה לשווק כאן בארץ את
            הסחורה הטובה ביותר שלנו! <br>
            תמר מג'הול עסיסי מובחר ותמר מג'הול יבש פרמיום באיכות יצוא שלא ראיתם כמותה! <br>
        </p>
        <div>
            <button type="button" role="button" aria-labelledby="מעבר לחנות שלנו" class="btn upper-btn m-2"
                routerLink="/products">מעבר לחנות</button>
            <button type="button" role="button" aria-labelledby="קצת עלינו" class="btn upper-btn m-2"
                routerLink="/about-us">קצת עלינו</button>
        </div>
    </div>

</div>