<div class="row no-gutters" id="opener">
    <div class="text">
        <p class="my-1" role="text"> אחד הדברים הטובים שקרו לנו בתקופה האחרונה היא האופציה לשווק כאן בארץ את
            הסחורה הטובה ביותר שלנו! <br>
            תמר מג'הול עסיסי מובחר ותמר מג'הול יבש פרמיום באיכות יצוא שלא ראיתם כמותה! <br>
        </p>
        <div>
            <button type="button" role="button" aria-labelledby="מעבר לחנות שלנו" class="btn upper-btn m-2"
                routerLink="/products">מעבר לחנות</button>
            <button type="button" role="button" aria-labelledby="קצת עלינו" class="btn upper-btn m-2"
                routerLink="/about-us">קצת עלינו</button>
        </div>
    </div>
    <video class="videoBG" autoplay muted loop>
        <source src="../../../assets/videos/video-hatamar.mp4" type="video/mp4" name="תמר מג'הול" />
    </video>
</div>