<div class="col-12" id="reviews">
    <div class="carousel"
        data-flickity='{ "wrapAround":true, "autoPlay": 2000, "pageDots": false, "prevNextButtons": false, "pauseAutoPlayOnHover": false }'>
        <div class="carousel-cell">
            <div class="card middle">
                <div class="front">
                    <img src="../../../assets/images/avatars/img_avatar2.png" alt="Avatar" class="avatar">
                    <div>
                        <div class="review-name pt-1">ירדן</div>
                        <div class="review-city">תל אביב</div>
                        <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i></span>
                        <div class="review-text">הזמנתי תמר מג'הול עסיסי והם היו פשוט מעולים! היחס של צוות התמר מדהים!
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="card middle">
                <div class="front">
                    <img src="../../../assets/images/avatars/img_avatar.png" alt="Avatar" class="avatar">
                    <div>
                        <div class="review-name pt-1">ג'וי רון</div>
                        <div class="review-city">קרית ביאליק</div>
                        <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i></span>
                        <div class="review-text">הזמנתי 5 קילו מהמג'הול העסיסי. התאהבתי! התמר הכי טעים שאכלתי בפער, בטוח
                            שאזמין שוב!
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="card middle">
                <div class="front">
                    <img src="../../../assets/images/avatars/avatar5.png" alt="Avatar" class="avatar">
                    <div>
                        <div class="review-name pt-1">עדן דואניאס</div>
                        <div class="review-city">בת ים</div>
                        <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i></span>
                        <div class="review-text">תמרים נהדרים וטעימים מאוד!!!
                            שירות אישי! פשוט כייף לקנות
                            אין ספק שאחזור לקנות מהתמר!
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="card middle">
                <div class="front">
                    <img src="../../../assets/images/avatars/img_avatar2.png" alt="Avatar" class="avatar">
                    <div>
                        <div class="review-name pt-1">טובה</div>
                        <div class="review-city">הוד השרון</div>
                        <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i></span>
                        <div class="review-text">טעמנו מהתמרים שרכשנו.. <br>
                            הם פשוט- מ ע ו ל י ם!<br>
                            שמחים שהכרנו אתכם!
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="card middle">
                <div class="front">
                    <img src="../../../assets/images/avatars/img_avatar.png" alt="Avatar" class="avatar">
                    <div>
                        <div class="review-name pt-1">משה</div>
                        <div class="review-city">נשר</div>
                        <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i></span>
                        <div class="review-text">רק לציין שהתמרים שלכם פשוט להיט! רואים שזה טרי ולא שכב אצלכם שנה
                            בהקפאה. מזמין כבר מעכשיו עוד 5 קילו!
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="card middle">
                <div class="front">
                    <img src="../../../assets/images/avatars/img_avatar2.png" alt="Avatar" class="avatar">
                    <div>
                        <div class="review-name pt-1">חווה שמואלי</div>
                        <div class="review-city">אשקלון</div>
                        <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i></span>
                        <div class="review-text">תמרים טעימים במיוחד! הגיע אליי יוחאי, בחור צעיר ונחמד, להביא לי את
                            ההזמנה עד הבית! אין ספק שאזמין עוד!!
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="card middle">
                <div class="front">
                    <img src="../../../assets/images/avatars/avatar5.png" alt="Avatar" class="avatar">
                    <div>
                        <div class="review-name pt-1">סיון שלום</div>
                        <div class="review-city">הרצליה</div>
                        <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i></span>
                        <div class="review-text">אין דברים כאלה, תמרים ממש ממש טעימים וגדולים! אשמח להזמין שוב!
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="card middle">
                <div class="front">
                    <img src="../../../assets/images/avatars/img_avatar.png" alt="Avatar" class="avatar">
                    <div>
                        <div class="review-name pt-1">איתן בן חיים</div>
                        <div class="review-city">קרית חיים</div>
                        <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><i class="fas fa-star"></i></span>
                        <div class="review-text">הזמנתי 5 קילו מג'הול יבש פרמיום, תמר טעים ואיכותי, תודה רבה על השירות
                            האדיב! משלוח מהיר עד הבית!
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>