<swiper class="carousel" [slidesPerView]="slidesNum" [spaceBetween]="50" (swiper)="onSwiper($event)"
    (slideChange)="onSlideChange()" [autoplay]="true" style="cursor: grab;">

    <ng-container class="carousel-cell" *ngFor="let slide of slides">

        <ng-template swiperSlide>
            <div class="card">
                <img src="{{slide.img}}" alt="Avatar" class="avatar">
                <div>
                    <div class="review-name pt-1">{{slide.name}}</div>
                    <div class="review-city">{{slide.city}}</div>
                    <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                            class="fas fa-star"></i><i class="fas fa-star"></i></span>
                    <div class="review-text">{{slide.review}}
                    </div>
                </div>
            </div>
        </ng-template>

    </ng-container>

</swiper>