<div class="row no-gutters d-flex justify-content-center">
    <!-- HEADER -->
    <!-- MAIN -->
    <div class="col-12">
        <div class="row no-gutters">
            <!-- FORM  -->
            <div class="col-xl-6 col-md-12 d-flex justify-content-center order-form">
                <div class="row no-gutters d-flex justify-content-center">
                    <div class="col-12">
                        <h1 class="header">עוד קצת וההזמנה שלכם בדרך!</h1>
                        <div class="text">אנא מלאו את הפרטים הבאים על מנת להשלים את תהליך ביצוע ההזמנה!<br>
                            לאחר שההזמנה תיקלט, צוות התמר יצור עמכם קשר בהקדם.
                        </div>
                    </div>

                    <div class="col-12 d-flex justify-content-center my-5">
                        <form #orderForm="ngForm">
                            <div class="form-row">
                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="firstName" id="firstName-label">*שם פרטי</label>
                                    <input type="text" name="firstName" class="form-control" id="firstName"
                                        [(ngModel)]="obj.firstName" required>
                                </div>
                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="lastName" id="lastName-label">*שם משפחה</label>
                                    <input type="text" name="lastName" class="form-control" id="lastName"
                                        [(ngModel)]="obj.lastName" required>
                                </div>
                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="phone" id="phone-label">*מספר נייד</label>
                                    <input type="tel" name="phone" class="form-control" id="phone" minlength="10"
                                        maxlength="10" [(ngModel)]="obj.phone" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6 col-sm-12">
                                    <label for="city" id="city-label">*כתובת אימייל</label>
                                    <input type="email" name="email" class="form-control" id="email"
                                        [(ngModel)]="obj.email" required>
                                </div>
                                <div class="form-group col-md-6 col-sm-12" *ngIf="width > 1028">
                                    <label for="city" id="city-label">*עיר מגורים</label>
                                    <select id="city" name="city" class="form-control" [(ngModel)]="obj.city" required>
                                        <option *ngFor="let city of cities">{{city.name}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6 col-sm-12" *ngIf="1028 > width">
                                    <label for="city" id="city-label">*עיר מגורים</label>
                                    <input type="text" name="city" class="form-control" id="city" [(ngModel)]="obj.city"
                                        required>
                                </div>
                                <div class="form-group col-md-12 col-sm-12">
                                    <label for="address" id="address-label">*כתובת מלאה</label>
                                    <input type="text" name="fullAddress" class="form-control" id="address"
                                        placeholder="רחוב, בניין, דירה" [(ngModel)]="obj.fullAddress" required>
                                </div>
                            </div>
                            <div class="form-row ">
                                <div class="form-group col-md-3 col-sm-12 ">
                                    <label for="dry-date">*כמות מג'הול יבש</label>
                                    <!-- <input type="number" name="dry-date" class="form-control" id="dry-date" min="0"
                                        (change)="calcPrice()" [(ngModel)]="obj.dryDate" required> -->
                                    <div class="row no-gutters bottomBtns">
                                        <button type="button" class="qntBtn col-2" (click)="plus(1)"><i
                                                class="fa fa-arrow-up"></i></button>
                                        <input class="form-control col-8" type="text" [value]="obj.dryDate" disabled>
                                        <button type="button" class="qntBtn col-2" (click)="minus(1)"><i
                                                class="fa fa-arrow-down"></i></button>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <label for="juicy-date">*כמות מג'הול עסיסי</label>
                                    <!-- <input type="number" name="juicy-date" class="form-control" id="juicy-date" min="0"
                                        (change)="calcPrice()" [(ngModel)]="obj.juicyDate" required> -->
                                    <div class="row no-gutters bottomBtns">
                                        <button type="button" class="qntBtn col-2" (click)="plus(2)"><i
                                                class="fa fa-arrow-up"></i></button>
                                        <input class="form-control col-8" type="text" [value]="obj.juicyDate" disabled>
                                        <button type="button" class="qntBtn col-2" (click)="minus(2)"><i
                                                class="fa fa-arrow-down"></i></button>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <label for="qnt" id="qnt-label">סך הכל כמות:</label>
                                    <input type="number" name="qnt" class="form-control" id="qnt" min="3"
                                        [value]="totalQnt" disabled required>
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <label for="totalP">מחיר לפי כמות:</label>
                                    <input type="text" name="totalP" class="form-control" id="totalP"
                                        [value]="obj.totalPrice" disabled required>
                                </div>
                                <div class="form-group col-12 my-3">
                                    <span *ngIf="!orderSent"><button type="button" class="btn btn-success"
                                            (click)="onSubmit();" style="width: 100%;">סיום
                                            הזמנה</button></span>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="alertMsgs">
                                    <div class="my-1"><small>{{firstNameMSG}}</small></div>
                                    <div class="my-1"><small>{{lastNameMSG}}</small></div>
                                    <div class="my-1"><small>{{phoneNumMSG}}</small></div>
                                    <div class="my-1"><small>{{emailMSG}}</small></div>
                                    <div class="my-1"><small>{{cityMSG}}</small></div>
                                    <div class="my-1"><small>{{fullAddressMSG}}</small></div>
                                    <div class="my-1"><small>{{qntMSG}}</small></div>
                                    <h4 class="my-1" *ngIf="5 > totalQnt"><b>בהזמנה של 5 קילו תמרים המשלוח
                                            חינם!!!</b></h4>
                                    <div class="my-4">
                                        <div *ngIf="orderSentMSG">
                                            <div class="spinner-grow mr-5" style="width: 3rem; height: 3rem;"
                                                role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </div>
                                        <p class="loaderMSG mt-3"> {{orderSentMSG}}</p>
                                    </div>
                                </div>

                            </div>

                        </form>
                    </div>
                </div>
                <hr *ngIf="500>width">
            </div>

            <!-- sidabar -->
            <div class="col-xl-6 col-md-12 d-flex justify-content-center">
                <div class="row no-gutters order-total">
                    <div class="col-md-12">
                        <div class="card-body">
                            <div class="card-title">פירוט ההזמנה</div>
                            <div class="card-text">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>כמות</th>
                                            <th>עלות משלוח</th>
                                            <th>מחיר סופי</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{totalQnt}}</td>
                                            <td *ngIf="totalQnt >= 5">ללא עלות</td>
                                            <td *ngIf="5 > totalQnt && totalQnt >=3">20
                                                ₪</td>
                                            <td *ngIf="3 > totalQnt">0</td>
                                            <td>{{lastPrice}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <p class="card-text">
                                <small class="text-muted">* מינימום כמות למשלוח הינה 3 קילו תמרים.</small> <br>
                                <small class="text-muted">* עלות משלוח 20₪ | משלוח <b>חינם</b> בהזמנת 5 קילו תמרים
                                    ומעלה.</small> <br>
                                <small class="text-muted">* הגעת המשלוח הינה עד 10 ימי עסקים מיום ביצוע ההזמנה.</small>
                                <br>
                                <small class="text-muted">* <b>תשלום יבוצע ביום הגעת המשלוח בביט או במזומן.</b></small>
                                <br>
                                <small class="text-muted">* לצפייה בתקנון האתר <a [routerLink]="['/privacy-policy']"
                                        routerLinkActive="router-link-active">לחץ כאן</a>. </small>
                            </p>
                        </div>
                        <app-home-logos></app-home-logos>
                    </div>
                </div>
            </div>
        </div>
    </div>